{% extends 'base.html' %} {%block contents%}
<div class="row">
  <div class="col-12">
    <h1 class="text-center mt-5">회원가입</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">{{error}}</div>
</div>
<div class="row">
  <div class="col-12">
    <form action="" method="post">
      {%csrf_token%}
      <!-- <div class="input-group">
        <span class="input-group-addon" id="username">사용자 이름</span>
        <input
          type="text"
          class="form-control"
          placeholder="Enter username"
          name="username"
        />
      </div>
      <br />
      <div class="input-group">
        <span class="input-group-addon" id="password">비밀번호</span>
        <input
          type="text"
          class="form-control"
          placeholder="Enter password"
          name="password"
        />
      </div>
      <br /> -->

        
    {%for field in form%}
      <div class="form-group">
        <label for="{{field.id_for_label}}">{{field.label}}</label>
        <input
          type="{{field.field.wiget.input_type}}"
          class="form-control"
          id="{{field.id_for_label}}"
          placeholder="{{field.label}}"
          name="{{field.name}}"
         />
        </div>
    {% if field.errors %}
        <span style = "color: red;">{{field.errors}}</span>>
    {%endif%}
        {% endfor %} 
    
      <button type="submit" class="btn btn-primary">로그인</button>
      <br />
    </form>
  </div>
</div>
{%endblock%}
